---
interface Props{
    id: string;
    fontSize?: string;
    variant: "primary" | "secondary" | "outlined";
}

const { id, variant, fontSize }: Props = Astro.props;
const buttonClass = variant === 'primary' ? "dark" : variant === "secondary" ? "light" : "outlined"

---
<button type="button" id={id} class=`button ${buttonClass}` style=`font-size: ${fontSize ? fontSize : "1em"}`>
    <slot/>
</button>

<style>
    .dark{
        color: white;
        background-color: rgba(12, 12, 12, 1);
        box-shadow: 0px 5px 5px rgba(12, 12, 12, 1);
    }

    .light{
        color: rgba(12, 12, 12, 1);
        background-color: rgba(225, 230, 241, 1);
    }

    .outlined{
        color: var(--primary);
        background-color: transparent;
        border: 2px solid var(--primary) !important;
    }

    .button{
        border-radius: 10px;
        border: none;
        padding: 15px 30px;
        cursor: pointer;
        font-weight: 700;
    }
</style>