---
import { undefined } from "astro:schema";

interface Props {
    variant: "light" | "dark";
    title?: string;
    color?: string;
    maxWidth?: string;
    styles?: string;
}

const { variant, title = undefined, styles = "" } = Astro.props as Props;
---

<div class={`wrapper ${variant}`} style={styles}>
    <div class="circlesBar">
        <div class="circle green"></div>
        <div class="circle yellow"></div>
        <div class="circle red"></div>
    </div>

    <div class="infoContainer">
        {title && <span class="title">{title}</span>}

        <slot />
    </div>
</div>

<style>
    .wrapper {
        display: flex;
        flex-direction: column;
        border-radius: 12px;
        padding: 0px 20px 30px 20px;
        border: 2px solid var(--secondary);
        overflow-y: hidden;
        backdrop-filter: blur(32px);
        box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.1);
        width: 100%;
        height: auto;
    }

    .circlesBar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 5px;
        width: 100%;
        padding-top: 20px;
    }

    .circle {
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }

    .red {
        background-color: var(--danger);
    }

    .yellow {
        background-color: var(--warning);
    }

    .green {
        background-color: var(--success);
    }

    .infoContainer {
        width: 100%;
        padding: 10px 0px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .title {
        font-weight: 700;
        font-size: 20px;
    }

    .light {
        background-color: var(--lightCard);
        color: var(--primaryText);
    }

    .dark {
        background-color: var(--darkDimmed);
        color: var(--light);
    }
</style>
