---

interface Props{
    href: string | URL;
    variant: "blank" | "primary" | "secondary" | "outlined";
    fullWidth?: boolean;
}

const { href, variant, fullWidth } = Astro.props;

---

<a class=`link ${variant}` href={href} style=`${fullWidth && "width: 100%;"};`>
    <slot/>
</a>

<style>
    .link{
        text-decoration: none;
        cursor: pointer;
        padding: 10px 20px;
        border-radius: 10px;
        font-weight: 700;
        font-size: 14pt;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        min-width: 80px;
    }

    .primary{ /* dark */
        color: white;
        background-color: rgba(12, 12, 12, 1);
        box-shadow: 0px 5px 5px rgba(12, 12, 12, 0.33);
    }

    .secondary{ /* light */
        color: rgba(12, 12, 12, 1);
        background-color: rgba(225, 230, 241, 1);
    }

    .outlined{
        color: var(--primary);
        background-color: transparent;
        border: 2px solid var(--primary) !important;
    }
 
    .blank{
        color: var(--black);
    }
</style>