---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import LogoDark from "../../src/assets/LogoDark.svg";
import starsIconGroupWhite from "../../src/assets/starsIconGroupWhite.svg";
import Input from "../components/Input.astro";
import Button from "../components/Button.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import starLight from ".././assets/starLight.svg";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="wrapper" id="formSection">
    <div class="infoWrapper">
        <h2 class="infoTitle">{t("formTitle")}</h2>
        <p class="infoDesc">{t("formDesc")}</p>
        <Image class="infoImage" src={starsIconGroupWhite} alt="stars" width={500} />
    </div>
    <div class="formWrapper">
        <div class="formTopBar">
            <Image src={LogoDark} alt="logo" width={30} height={30} />
        </div>
        <form class="formContainer">
            <div class="formSections">
                <div class="formTopSection">
                    <div class="formTopSectionInput">
                        <Input type="text" placeholder={t("name")} name="name" />
                    </div>
                    <div class="formTopSectionInput">
                        <Input type="text" placeholder={t("surname")} name="surname" />
                    </div>
                    <div class="formTopSectionInput">
                        <Input type="tel" placeholder={t("phone")} name="tel" />
                    </div>
                    <div class="formTopSectionInput">
                        <Input type="text" placeholder={t("subject")} name="subject" />
                    </div>
                </div>
                <div class="formBottomSection">
                    <Input type="email" placeholder={t("email")} name="email" />
                    <Input type="text" placeholder={t("company")} name="company" />
                    <Input type="text" placeholder={t("content")} name="content" />
                </div>
            </div>
            <div class="formButtonContainer">
                <Button variant="primary" id="formSubmitButton">{t("send")}</Button>
            </div>
        </form>
    </div>
    <ul class="contactWrapper">
        <li class="contactRow">
            <Icon name="uil:phone" />
            +123 456 789
        </li>
        <li class="contactRow borderRow">
            <Icon name="uil:envelope-alt" />
            biuro@vitresoft.com
        </li>
        <li class="contactRow">
            <Icon name="uil:map-marker" />
            ul. Pana Balcera 6/88 20-631 Lublin
        </li>
    </ul>
</div>
<div class="wrapper primary-back invisible" id="form-section-after-send">
    <div class="main-wrap">
        <Image class="starImage-1" src={starLight} alt="star-1" width={110} />
        <Image class="starImage-2" src={starLight} alt="star-2" width={110} />
        <div class="info-page-wrapper">
            <div class="dot"></div>
            <div class="dot dot-light"></div>
        </div>
        <div class="header-wrap">
            <h2 class="infoTitle">Świetnie, teraz jesteśmy w <br /> kontakcie!</h2>
            <p class="infoDesc">{t("formDesc")}</p>
        </div>
        <div class="footer-wrap">
            <ul class="contactWrapper after-send-contact-wrap">
                <li class="contactRow">
                    <Icon name="uil:phone" />
                    +123 456 789
                </li>
                <li class="contactRow borderRow">
                    <Icon name="uil:envelope-alt" />
                    biuro@vitresoft.com
                </li>
                <li class="contactRow">
                    <Icon name="uil:map-marker" />
                    ul. Pana Balcera 6/88 20-631 Lublin
                </li>
            </ul>
            <div class="secondary-form-button-wrapper">
                <Button variant="primary" id="secondary-form-button">Wyślij ponownie</Button>
            </div>
        </div>
    </div>
</div>
<script src="../scripts/FormScript.ts"></script>
<style>
    .wrapper {
        width: 900px;
        height: 470px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        position: relative;

        border-radius: 30px;

        background-image: linear-gradient(45deg, rgba(123, 17, 249, 1), rgba(121, 34, 216, 1) 60%, rgb(64, 64, 217));
        color: var(--secondaryText);
        padding: 30px;

        margin-top: 70px;
    }

    .infoWrapper {
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 20px;

        width: 50%;
        height: 55%;
        position: relative;
    }

    .infoTitle {
        font-weight: 500;
        font-size: 36px;
        text-align: center;
        margin: 0;
    }

    .infoDesc {
        font-weight: 400;
        font-size: 18px;
        color: var(--secondaryText);
        opacity: 0.7;
        text-align: center;
        margin: 0;
    }

    .infoImage {
        position: absolute;
        right: -2%;
        top: 10%;
        opacity: 0.25;
        filter: blur(2px);
    }

    .formWrapper {
        width: 45%;
        height: 90%;

        display: flex;
        flex-direction: column;

        border-radius: 20px;

        position: absolute;
        top: 50%;
        right: 2.5%;

        transform: translateY(-50%);

        background-color: var(--light);
    }

    .formTopBar {
        height: 10%;
        padding: 20px 20px 0px;
    }

    .formContainer {
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .formSections {
        display: flex;
        flex-direction: column;
    }

    .formTopSection {
        padding: 20px 20px 0px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 15px;
    }

    .formTopSectionInput {
        width: 47%;
    }

    .formBottomSection {
        margin-top: 15px;
        padding: 0px 20px 20px;

        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .formButtonContainer {
        padding: 20px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contactWrapper {
        width: 50%;
        height: 40%;

        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: start;
        align-items: center;
        padding: 0;
        margin: 0;
        margin-top: 2%;
    }

    .contactRow {
        width: max-content;
        padding: 10px;

        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    .borderRow {
        border: 1px solid var(--light);
        background-color: var(--lightTransparent);
        border-radius: 8px;
    }

    @media only screen and (max-width: 1115px) {
        .wrapper {
            width: 80%;
            height: unset;
            padding: 30px;
            gap: 30px;
        }

        .formWrapper {
            position: unset;
            transform: unset;
        }

        .infoWrapper,
        .contactWrapper,
        .formWrapper {
            width: 100%;
        }
    }

    .primary-back {
        background-color: var(--primary);
        background-image: none;
    }

    .main-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 70px;
        padding: 20px 0px;
    }

    .info-page-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .dot {
        height: 12px;
        width: 12px;
        background-color: var(--lightTransparent);
        border-radius: 50%;
    }

    .dot-light {
        background-color: var(--light);
    }

    .header-wrap {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 70%;
        height: 50%;
    }

    .footer-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 50%;
    }

    .after-send-contact-wrap {
        height: 100%;
        width: 50%;
        align-items: baseline;
    }

    .secondary-form-button-wrapper {
        max-width: 220px;
    }

    .starImage-1 {
        position: absolute;
        top: 40%;
        left: 10%;
        transform: rotate(50deg);
    }

    .starImage-2 {
        position: absolute;
        top: 13%;
        left: 71%;
        transform: rotate(deg);
    }

    @media only screen and (max-width: 506px) {
        .footer-wrap {
            flex-direction: column;
            justify-content: center;
        }

        .after-send-contact-wrap {
            align-items: center;
        }
    }

    .invisible {
        display: none;
    }
</style>
