---
import { Image } from "astro:assets";
import LogoDark from "../assets/LogoDark.svg";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import { defaultLang } from "../i18n/ui";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const routes = [
    {
        name: t("about"),
        url: `/${lang != defaultLang && lang+"/"}about`
    },
    {
        name: t("contact"),
        url: `/${lang != defaultLang && lang+"/"}contact`
    }
]

---

<nav class="nav">
    <div class="wrapper">
        <div class="logoContainer">
            <Image src={LogoDark} alt="Logo" width={40} height={40}/>
            <span>Vitresoft</span>
        </div>

        <div class="redirectsContainer">
            {routes.map((route) => {
                return <a class="navButton" href={route.url}>{route.name}</a>
            })}
        </div>
    </div>
    
</nav>

<script>
    document.getElementById("navigationContactButton")?.addEventListener("click", () => {
        // do formularzu z kontaktem
    })
</script>

<style>
    .logoContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .nav{
        width: 100%;
        height: 66px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wrapper{
        width: 98%;
        height: 100%;
        padding: 0px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .redirectsContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .navButton{
        color: var(--black);
        text-decoration: none;
    }
</style>