---
import { Image } from "astro:assets";
import LogoDark from "../assets/LogoDark.svg";
import { getLangFromUrl, getRoutes, useTranslations } from "../i18n/utils";
import Link from "../components/Link.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const routes = getRoutes(Astro.url);

---

<nav class="nav">
    <div class="wrapper">
        <div class="logoContainer">
            <Image src={LogoDark} alt="Logo" width={40} height={40}/>
            <span style="font-weight: 700;">Vitresoft</span>
        </div>

        <div class="redirectsContainer">
            {routes.map((route) => {
                return <Link variant="blank" href={route.url}>{route.name}</Link>
            })}
        </div>
    </div>
    
</nav>

<style>
    .logoContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .nav{
        width: 100%;
        height: 66px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
    }

    .wrapper{
        width: 98%;
        height: 100%;
        padding: 0px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .redirectsContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }
</style>