:root {
    --primary: #6809EE;
    --secondary: #e5e5e533;
    --success: #73FF8D;
    --warning: #F9FF3C;
    --danger: #FF264A;
    --font-ubuntu: ubuntu;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
