:root {
    --dark: #0c0c0cff;
    --darkDimmed: #0c0c0c2b;
    --primary: #6809EE;
    --secondary: #e5e5e533;
    --secondaryDimmed: #d9d9d90a;
    --secondaryLight: #E1E6F1;
    --light: #ffffffff;
    --lightDimmed: #e1e6f14d;
    --placeholder: #AEB4C2;
    --success: #73FF8D;
    --warning: #F9FF3C;
    --danger: #FF264A;
    --font-ubuntu: ubuntu;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
